<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tous les speedruns de Contos</title>
</head>

<body>

    <header>
        <h1><a href="/">Speedruns</a></h1>
        <div>
            <% if ( locals.user ) {%>
            <a href="/admin">Admin</a>
            <% } else { %>
            <a href="/login">Se connecter</a>
            <% } %>
        </div>
    </header>